.mini-title {
  background-color: var(--light-gray-bg-color);
  color: var(--black);
}

.header-content h2 {
  color: var(--black);
  font-size: 24px;
}

.header-content .course-description {
  font-size: 15px;
  padding-bottom: 12px;
}

.metadata {
  color: var(--heading-color);
}
.price h3 {
  font-size: 24px;
  color: var(--black);
  font-weight: bold;
}

.rating-author .author-name{
  font-size: 14px;
  padding-bottom: 10px;
}

.price h3 {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.discount {
  color: var(--light-gray-text);
  font-size: 18px;
}

.discount-badge {
  background-color: var(--light-gray-bg-color);
  color: var(--black);
  padding: 2px 8px;
  font-size: 12px;
  margin-left: 5px;
  border-radius: 4px;
}

.cart-buttons {
  display: flex;
  column-gap: 10px;
  margin-top: 10px;
}

.cart-buttons .btn-add,
.btn-buy {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 0;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.btn-add {
  background-color: var(--button-primary-color);
  color: var(--white);
}

.btn-buy {
  background-color: var(--border-color);
  color: var(--button-primary-color);
  border: 0.5px solid var(--button-primary-color);
}

.tabs {
  display: flex;
  gap: 10px;
  margin: 20px 0px;
  padding: 10px 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.tabs button {
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: var(--step-button-background);
}

.tabs button:hover{
  background-color:var(--border-color) ;
}

.tabs button.active {
  background-color: var(--light-gray-bg-color);
  color: var(--black);
}

.long-desc p {
  line-height: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}

.prerequisites {
  border-top: 1px solid var(--secondary-btn-color);
  padding: 20px 0px;
}

.prerequisites ul li {
  list-style-type: square;
  font-size: 14px;
  line-height: 20px;
}

.learning-list {
  border-top: 1px solid var(--secondary-btn-color);
  padding: 20px 0px;
}

.learning-list li {
  font-size: 14px;
  margin-bottom: 8px;
}

.learning-list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.learning-list li:before {
  content: "✔";
  color: var(--black);
  font-weight: bold;
  margin-right: 10px;
  font-size: 14px;
}
.course-list {
  margin-top: 20px;
}

.course-list p {
  font-size: 17px;
  font-weight: 600;
}

.course-list ul {
  list-style-type: none;
  padding: 0;
}

.course-list li {
  font-size: 14px;
  color: var(--step-button-background);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.course-list i {
  width: 20px;
  font-size: 15px;
  margin-right: 10px;
  text-align: center;
}

.average-rating {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  background-color: var(--secondary-btn-color);
  padding: 20px;
}

.rating span {
  color: var(--course-category-color);
}

.average-rating h2 {
  font-size: 2rem;
  color: var(--black); /* Star color */
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.average-rating .review-rating {
  color: #f8c307;
  font-size: 14px;
}

.average-rating p {
  color: var(--step-button-background);
  padding-bottom: 0;
}

.review-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review-item {
  background-color: var(--white);
  padding: 10px 0 5px;
  border-bottom: 1px solid var(--light-gray-bg-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reviewer-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.reviewer-info h4 {
  font-size: 1rem;
  margin: 0;
  color: var(--black);
  font-weight: 600;
}

.review-date {
  font-size: 0.85rem;
  color: var(--step-button-background);
}

.review-rating {
  color: #f8c307;
  font-size: 14px;
}

.review-text {
  font-size: 16px !important;
  color: #333;
  font-family: var(--jost-ff);
}

/* Curriculum  */

.header-content .module {
  box-shadow: none;
}

.header-content .lesson-time span {
  padding-right: 0;
  padding-left: 10px;
}

.header-content .lesson-actions-time button {
  background-color: var(--search-bg);
  color: var(--button-primary-color);
  padding: 3px 10px;
  border-radius: 25px;
}

.header-content .module-content {
  padding: 0;
}

.header-content .module-lesson {
  background-color: transparent;
}

.header-content .lesson-time span {
  color: var(--step-button-background);
  width: 57px;
  text-align: right;
}

/* faqs */
.header-content .faqs-header {
  background-color: var(--search-bg);
  padding: 20px;
  border-radius: 6px;
}

.header-content .faqs-header .module-header {
  border-bottom: none !important;
  padding: 0;
  cursor: pointer;
}

.header-content .faqs-header .module {
  margin-bottom: 10px;
  background-color: var(--white);
}

.header-content .faqs-header .module:nth-last-child(1) {
  margin-bottom: 0px;
}

/* review */
.reviews-section .container {
  border: none;
}

.reviews-section .container .flex-row {
  border: none;
}

.reviews-section .average-rating h2 {
  font-family: var(--exo-ff);
  font-weight: 600;
}

.reviews-section .average-rating p {
  font-family: var(--jost-ff);
}

.faqs-header .module-title {
  font-family: var(--exo-ff);
  font-size: 16px;
}

.faqs-header .module p {
  font-family: var(--jost-ff);
  margin-top: 15px;
  font-size: 16px;
  color: var(--light-grey-text-color);
}

@media screen and (max-width: 426px) {
  .header-content .faqs-header {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .course-image img {
    margin-top: 20px;
  }
}

@media screen and (max-width: 426px) {
  .course-image img {
    margin-top: 20px;
  }
}
